<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header card-header-rose">
                    <h4 class="card-title">Download Video Software</h4>
                </div>
                <div class="card-body">
                    <a target="_blank" [href]="videoSoftwareDownload">Click to download video sofware</a>
                </div>
            </div>
        </div>
    </div>