<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Student Courses</h1>
</div>

<div class="text-center">
    <div class="row justify-content-center">
        <div class="col-md-8 mb-4">
            <div class="card text-left shadow h-100 py-2">

<table datatable class="row-border hover"> <!--class="table table-striped"-->
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Course Name</th>
      <th scope="col">Exam Mark</th>
      <th scope="col">Project Mark</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of coursesData; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ course.code }}</td>
      <td>{{ course.courseName }}</td>
      <td>{{ course.examMark | number }}</td>
      <td>{{ course.projectMark | number }}</td>
    </tr>
    </tbody>
  </table>
            </div>
        </div>
    </div>
</div>

