
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <ul class="nav">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/img/rt.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        RT Education
      </a>
    </li>  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <li class="nav-item" routerLinkActive="active"><a class="nav-item nav-link" [routerLink]="['/student']">Student Data</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-item nav-link" [routerLink]="['/courses']">Student Courses</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-item nav-link" [routerLink]="['/calendar']">Student Calendar</a></li>
      <li><button class="btn btn-outline-light my-2 my-sm-0" type="submit" (click)="startLogin()">Login</button></li>
      <li><button class="btn btn-outline-light my-2 my-sm-0" type="submit" (click)="startLogout()">Logout</button></li>
    </div>
  </ul>
</nav>

<div class="container-fluid">

    <router-outlet></router-outlet>

</div>
